<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>friend_request_add</key>
  <string>申请加你为好友！</string>
  <key>friend_add_exist</key>
  <string>不能重复添加相同的好友！</string>
  <key>friend_add_success</key>
  <string>添加好友成功！</string>
  <key>friend_add_confirm</key>
  <string>确实要添加该好友吗？</string>
	<key>friend_delete_confirm</key>
	<string>确实要删除该好友吗？</string>
	<key>login_wrongnameorpassword</key>
	<string>用户名或者密码不正确！</string>
	<key>register_have_sameuser</key>
	<string>该用户名已经被他人注册！</string>
	<key>register_successfully</key>
	<string>注册成功！</string>
	<key>character_name_empty</key>
	<string>请输入用户名称！</string>
	<key>account_pwd_empty</key>
	<string>用户名或密码不能为空！</string>
</dict>
</plist>
