<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1459},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>arraycard_wen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1666},{22,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,282}}</string>
                <key>sourceSize</key>
                <string>{22,282}</string>
            </dict>
            <key>arraycard_wen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1400},{163,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,165}}</string>
                <key>sourceSize</key>
                <string>{163,165}</string>
            </dict>
            <key>arraycard_wen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1968},{23,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,282}}</string>
                <key>sourceSize</key>
                <string>{23,282}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card__iconpromotion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1454},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1206},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_add_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1012},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_atlas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,388},{120,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,384}}</string>
                <key>sourceSize</key>
                <string>{120,384}</string>
            </dict>
            <key>card_atlas_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{120,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,384}}</string>
                <key>sourceSize</key>
                <string>{120,384}</string>
            </dict>
            <key>card_detail__bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,644},{640,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,650}}</string>
                <key>sourceSize</key>
                <string>{640,650}</string>
            </dict>
            <key>card_detail_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1601},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_detail_boots.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1743},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_detail_helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1459},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_detail_pants.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1601},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_detail_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1901},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_detail_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1759},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_embattle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{208,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,327}}</string>
                <key>sourceSize</key>
                <string>{208,327}</string>
            </dict>
            <key>card_embattle_dropup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,818},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_embattle_dropup_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,624},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_exp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2013},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_exp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1993},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>card_exp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1993},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_experience.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1950},{602,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,16}}</string>
                <key>sourceSize</key>
                <string>{602,16}</string>
            </dict>
            <key>card_furnace.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{620,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,610}}</string>
                <key>sourceSize</key>
                <string>{620,610}</string>
            </dict>
            <key>card_icon_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1288},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1459},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_fusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1122},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fusion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,956},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,790},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,624},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1400},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1665},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1617},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1431},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1289},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_l_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1778},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1459},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1620},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1778},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1620},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1823},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1665},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1131},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,973},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,815},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_promotion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,2},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>card_red_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1993},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>card_s_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1573},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1573},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1573},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1863},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1573},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1968},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1968},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1968},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1968},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1968},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_soul_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_title_choosehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1098},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,940},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_fightcapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,774},{134,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,39}}</string>
                <key>sourceSize</key>
                <string>{134,39}</string>
            </dict>
            <key>card_title_heroAttribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,782},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_heropalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,624},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_promotion_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1995},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1995},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1665},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>card_up_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1286},{640,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,171}}</string>
                <key>sourceSize</key>
                <string>{640,171}</string>
            </dict>
            <key>card_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_upgrade_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1666},{300,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,410}}</string>
                <key>sourceSize</key>
                <string>{300,410}</string>
            </dict>
            <key>lod_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2009},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2027},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1993},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2011},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2033},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2033},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a5e145821f9c0303c16d93ecaf94282$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
