<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,246},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>arraycard_wen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1995},{208,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,45}}</string>
                <key>sourceSize</key>
                <string>{208,45}</string>
            </dict>
            <key>arraycard_wen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1665},{22,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,282}}</string>
                <key>sourceSize</key>
                <string>{22,282}</string>
            </dict>
            <key>arraycard_wen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1562},{163,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,165}}</string>
                <key>sourceSize</key>
                <string>{163,165}</string>
            </dict>
            <key>arraycard_wen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1666},{23,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,282}}</string>
                <key>sourceSize</key>
                <string>{23,282}</string>
            </dict>
            <key>arraycard_wen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,1320},{163,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,117}}</string>
                <key>sourceSize</key>
                <string>{163,117}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1962},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1962},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1168},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_done_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1016},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card__iconpromotion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1618},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1100},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_add_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,906},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_btn_absorption.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,864},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_absorption_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,864},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_chg_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,712},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_chg_hero_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1562},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1562},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_complete_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_preview_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_promotion_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_start_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1968},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_embattle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{208,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,327}}</string>
                <key>sourceSize</key>
                <string>{208,327}</string>
            </dict>
            <key>card_embattle_dropup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,712},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_embattle_dropup_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1634},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_exp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1286},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_exp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,2},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>card_exp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1286},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_experience.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1950},{602,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,16}}</string>
                <key>sourceSize</key>
                <string>{602,16}</string>
            </dict>
            <key>card_furnace.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,950},{620,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,610}}</string>
                <key>sourceSize</key>
                <string>{620,610}</string>
            </dict>
            <key>card_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,644},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>card_icon_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1468},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,246},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_fusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1452},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fusion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1286},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1286},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1729},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1698},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1698},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,246},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1894},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_l_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,124},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,124},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,124},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1772},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1650},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1784},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,1784},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_promotion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>card_red_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1634},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>card_s_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,641},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,570},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,499},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,428},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,357},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,286},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,215},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,144},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,73},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_soul_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_title_choosehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,792},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,634},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_fightcapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1562},{134,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,39}}</string>
                <key>sourceSize</key>
                <string>{134,39}</string>
            </dict>
            <key>card_title_heroAttribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,476},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_heropalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,318},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_promotion_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,160},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1698},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>card_up_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1320},{640,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,125}}</string>
                <key>sourceSize</key>
                <string>{640,125}</string>
            </dict>
            <key>card_up_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1320},{640,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,171}}</string>
                <key>sourceSize</key>
                <string>{640,171}</string>
            </dict>
            <key>card_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_upgrade_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1666},{300,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,410}}</string>
                <key>sourceSize</key>
                <string>{300,410}</string>
            </dict>
            <key>jingyandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1650},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>lod_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1302},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,1286},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1302},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1286},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1302},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1286},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4539f0df9fb13007d2c76e5306e7459$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
