<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catalogue_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,216},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>catalogue_card_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{400,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,136}}</string>
                <key>sourceSize</key>
                <string>{400,136}</string>
            </dict>
            <key>catalogue_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,205},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>catalogue_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>catalogue_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{153,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,44}}</string>
                <key>sourceSize</key>
                <string>{153,44}</string>
            </dict>
            <key>catalogue_row_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,218},{620,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,10}}</string>
                <key>sourceSize</key>
                <string>{620,10}</string>
            </dict>
            <key>catalogue_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>catalogue_tab_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{206,60}</string>
            </dict>
            <key>catalogue_tab_dairy.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,171},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>catalogue_tab_damon.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,160},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>catalogue_tab_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,126},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>catalogue_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catalogue.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dd444c72c901c301e6feca390fe7863$</string>
            <key>textureFileName</key>
            <string>catalogue.png</string>
        </dict>
    </dict>
</plist>
