<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,1165},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>add_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1263},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>add_in_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1869},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,221},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,140},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
            <key>bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1023},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1860},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>bt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1860},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>bt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1860},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>card_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2010},{310,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,30}}</string>
                <key>sourceSize</key>
                <string>{310,30}</string>
            </dict>
            <key>discover_truth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1031},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>discover_truth_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1031},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{230,70}</string>
            </dict>
            <key>downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2010},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>forgot_pwd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1860},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>forgot_pwd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1268},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>formation_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,302},{298,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,58}}</string>
                <key>sourceSize</key>
                <string>{298,58}</string>
            </dict>
            <key>formation_foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,951},{78,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,171}}</string>
                <key>sourceSize</key>
                <string>{78,171}</string>
            </dict>
            <key>formation_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1093},{304,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,68}}</string>
                <key>sourceSize</key>
                <string>{304,68}</string>
            </dict>
            <key>formation_frame_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1023},{304,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,68}}</string>
                <key>sourceSize</key>
                <string>{304,68}</string>
            </dict>
            <key>formation_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,244},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1874},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{151,80}</string>
            </dict>
            <key>formation_shengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,871},{78,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,171}}</string>
                <key>sourceSize</key>
                <string>{78,171}</string>
            </dict>
            <key>formation_yaomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,791},{78,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,171}}</string>
                <key>sourceSize</key>
                <string>{78,171}</string>
            </dict>
            <key>fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1438},{310,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,420}}</string>
                <key>sourceSize</key>
                <string>{310,420}</string>
            </dict>
            <key>gou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1084},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>gou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1926},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,493},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,461},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,461},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,1263},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>login_btn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1230},{480,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,70}}</string>
                <key>sourceSize</key>
                <string>{480,70}</string>
            </dict>
            <key>login_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1158},{480,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,70}}</string>
                <key>sourceSize</key>
                <string>{480,70}</string>
            </dict>
            <key>login_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1086},{480,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,70}}</string>
                <key>sourceSize</key>
                <string>{480,70}</string>
            </dict>
            <key>login_game_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,814},{480,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,70}}</string>
                <key>sourceSize</key>
                <string>{480,70}</string>
            </dict>
            <key>login_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,429},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,429},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,597},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_section.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,429},{590,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,360}}</string>
                <key>sourceSize</key>
                <string>{590,360}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,814},{500,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,270}}</string>
                <key>sourceSize</key>
                <string>{500,270}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1163},{121,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,66}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1869},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1869},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1869},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1874},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>prompt_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,791},{540,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,230}}</string>
                <key>sourceSize</key>
                <string>{540,230}</string>
            </dict>
            <key>qqs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>qqs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>register_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1296},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>rrs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>rrs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>san_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1926},{1,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,110}}</string>
                <key>sourceSize</key>
                <string>{1,110}</string>
            </dict>
            <key>select_formation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>select_server_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,472},{580,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,340}}</string>
                <key>sourceSize</key>
                <string>{580,340}</string>
            </dict>
            <key>server_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,602},{480,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,70}}</string>
                <key>sourceSize</key>
                <string>{480,70}</string>
            </dict>
            <key>shuangxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>sign-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>sina_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>sina_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>talk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{640,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,468}}</string>
                <key>sourceSize</key>
                <string>{640,468}</string>
            </dict>
            <key>task_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,461},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>task_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,325},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>task_eightyone.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,54},{188,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,48}}</string>
                <key>sourceSize</key>
                <string>{188,48}</string>
            </dict>
            <key>task_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1302},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>task_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1302},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>task_passed.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1302},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>task_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1874},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>task_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1926},{133,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,82}}</string>
                <key>sourceSize</key>
                <string>{133,82}</string>
            </dict>
            <key>task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,70},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>tourist_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1302},{140,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,80}}</string>
                <key>sourceSize</key>
                <string>{140,80}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1447},{310,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,420}}</string>
                <key>sourceSize</key>
                <string>{310,420}</string>
            </dict>
            <key>yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1452},{310,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,420}}</string>
                <key>sourceSize</key>
                <string>{310,420}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2010},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>yun_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,2},{640,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,425}}</string>
                <key>sourceSize</key>
                <string>{640,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec55614b74c0ad64ee5404f79a5b4a1a$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
