<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>mail_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,84},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mail_checkbox_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,629},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mail_checkbox_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,84},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>mail_compose_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{478,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,65}}</string>
                <key>sourceSize</key>
                <string>{478,65}</string>
            </dict>
            <key>mail_compose_textviewbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1468},{565,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,446}}</string>
                <key>sourceSize</key>
                <string>{565,446}</string>
            </dict>
            <key>mail_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{540,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,80}}</string>
                <key>sourceSize</key>
                <string>{540,80}</string>
            </dict>
            <key>mail_lblFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,445},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>mail_lblcontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,255},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>mail_lblreceiver.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,173},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>mail_lblsubject.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>mail_lbltitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>mail_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2043},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>mail_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{565,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,602}}</string>
                <key>sourceSize</key>
                <string>{565,602}</string>
            </dict>
            <key>mail_mailbox_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,698},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>mail_page_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,540},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>mail_sender.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,91},{80,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>mail_state_approved.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,702},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>mail_state_denied.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,702},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>mail_state_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,391},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>mail_state_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,337},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>mail_tab_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,674},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>mail_tab_secret_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,540},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>mail_tab_sys_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,698},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>mail_tab_sys_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,482},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>mail_textarea.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,834},{565,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,446}}</string>
                <key>sourceSize</key>
                <string>{565,446}</string>
            </dict>
            <key>mail_textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1401},{478,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,65}}</string>
                <key>sourceSize</key>
                <string>{478,65}</string>
            </dict>
            <key>mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,540},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>mail_title_compose.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,544},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>mail_title_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,544},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>main_talk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{640,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,468}}</string>
                <key>sourceSize</key>
                <string>{640,468}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f78bf2c35c265cbd33a28e2765354326$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
