<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,74},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,78},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>formation_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,134},{298,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,58}}</string>
                <key>sourceSize</key>
                <string>{298,58}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2044},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,337},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,432},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,400},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,368},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,336},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>login_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,304},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>main_arrow_leftbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,40},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>main_arrow_rightbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,2},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>main_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,788},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>main_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>main_card_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,146},{640,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,177}}</string>
                <key>sourceSize</key>
                <string>{640,177}</string>
            </dict>
            <key>main_chat_secrettalk_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,68},{453,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,64}}</string>
                <key>sourceSize</key>
                <string>{453,64}</string>
            </dict>
            <key>main_chat_txtbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{453,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,64}}</string>
                <key>sourceSize</key>
                <string>{453,64}</string>
            </dict>
            <key>main_chatbtn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,227},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>main_chatbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,194},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>main_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,470},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>main_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>main_head_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,477},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>main_head_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,184},{640,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,137}}</string>
                <key>sourceSize</key>
                <string>{640,137}</string>
            </dict>
            <key>main_play_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1796},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>main_play_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1796},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>main_play_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1796},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>main_plus_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,464},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>main_plus_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,444},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>main_speak.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,444},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>main_talk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{640,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,468}}</string>
                <key>sourceSize</key>
                <string>{640,468}</string>
            </dict>
            <key>main_talker_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,134},{141,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>main_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,472},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>menubar_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,260},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>menubar_formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,194},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>menubar_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,788},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>menubar_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,412},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>menubar_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,335},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>menubar_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,258},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>prompt_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1796},{540,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,230}}</string>
                <key>sourceSize</key>
                <string>{540,230}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>toolbar_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,407},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,400},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,337},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,374},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,330},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,304},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>toolbar_shengmolu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,260},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2028},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928d63abd68ab02feef05a2361965476$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
