<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>220001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,834},{88,308}}</string>
                <key>offset</key>
                <string>{194,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,20},{88,308}}</string>
                <key>sourceSize</key>
                <string>{88,308}</string>
            </dict>
            <key>220002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{186,600}}</string>
                <key>offset</key>
                <string>{160,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,18},{186,600}}</string>
                <key>sourceSize</key>
                <string>{186,600}</string>
            </dict>
            <key>220003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,600}}</string>
                <key>offset</key>
                <string>{162,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,19},{216,600}}</string>
                <key>sourceSize</key>
                <string>{216,600}</string>
            </dict>
            <key>220004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{192,596}}</string>
                <key>offset</key>
                <string>{153,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,26},{192,596}}</string>
                <key>sourceSize</key>
                <string>{192,596}</string>
            </dict>
            <key>220005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{180,520}}</string>
                <key>offset</key>
                <string>{165,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,86},{180,520}}</string>
                <key>sourceSize</key>
                <string>{180,520}</string>
            </dict>
            <key>220006.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1312},{192,192}}</string>
                <key>offset</key>
                <string>{159,-418}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,418},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>220007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1062},{206,184}}</string>
                <key>offset</key>
                <string>{151,-418}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,418},{206,184}}</string>
                <key>sourceSize</key>
                <string>{206,184}</string>
            </dict>
            <key>220008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,784},{276,228}}</string>
                <key>offset</key>
                <string>{94,-399}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,399},{276,228}}</string>
                <key>sourceSize</key>
                <string>{276,228}</string>
            </dict>
            <key>220009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{356,284}}</string>
                <key>offset</key>
                <string>{44,-374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,374},{356,284}}</string>
                <key>sourceSize</key>
                <string>{356,284}</string>
            </dict>
            <key>220010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{358,250}}</string>
                <key>offset</key>
                <string>{29,-386}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,386},{358,250}}</string>
                <key>sourceSize</key>
                <string>{358,250}</string>
            </dict>
            <key>220011.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,576},{360,256}}</string>
                <key>offset</key>
                <string>{32,-385}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,385},{360,256}}</string>
                <key>sourceSize</key>
                <string>{360,256}</string>
            </dict>
            <key>220012.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,318},{364,256}}</string>
                <key>offset</key>
                <string>{29,-380}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,380},{364,256}}</string>
                <key>sourceSize</key>
                <string>{364,256}</string>
            </dict>
            <key>220013.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{386,314}}</string>
                <key>offset</key>
                <string>{75,-373}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,373},{386,314}}</string>
                <key>sourceSize</key>
                <string>{386,314}</string>
            </dict>
            <key>220014.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1248},{204,198}}</string>
                <key>offset</key>
                <string>{175,-410}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,410},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>220015.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1162},{270,148}}</string>
                <key>offset</key>
                <string>{130,-448}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,448},{270,148}}</string>
                <key>sourceSize</key>
                <string>{270,148}</string>
            </dict>
            <key>220016.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1004},{314,156}}</string>
                <key>offset</key>
                <string>{101,-459}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,459},{314,156}}</string>
                <key>sourceSize</key>
                <string>{314,156}</string>
            </dict>
            <key>220017.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,834},{324,168}}</string>
                <key>offset</key>
                <string>{91,-465}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,465},{324,168}}</string>
                <key>sourceSize</key>
                <string>{324,168}</string>
            </dict>
            <key>220018.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1162},{254,128}}</string>
                <key>offset</key>
                <string>{119,-493}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,493},{254,128}}</string>
                <key>sourceSize</key>
                <string>{254,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf46a49824ffc5adc0e05e9814ca0c0$</string>
            <key>textureFileName</key>
            <string>flash.png</string>
        </dict>
    </dict>
</plist>
