<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friends_addbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,179},{51,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{51,14}</string>
            </dict>
            <key>friends_addfriend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,131},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>friends_cell_addfriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,74},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>friends_cellhighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{293,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,39}}</string>
                <key>sourceSize</key>
                <string>{293,39}</string>
            </dict>
            <key>friends_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,74},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>friends_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>friends_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>friends_dairy.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,223},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>friends_dairy_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,221},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>friends_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,38},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>friends_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,110},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>friends_emailbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,38},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>friends_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,218},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>friends_fo_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,189},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>friends_formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>friends_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,350}}</string>
                <key>sourceSize</key>
                <string>{320,350}</string>
            </dict>
            <key>friends_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,163},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>friends_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{249,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,252}}</string>
                <key>sourceSize</key>
                <string>{249,252}</string>
            </dict>
            <key>friends_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{51,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{51,14}</string>
            </dict>
            <key>friends_search_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,395},{230,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,30}}</string>
                <key>sourceSize</key>
                <string>{230,30}</string>
            </dict>
            <key>friends_searchbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,140},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>friends_searchbtn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,131},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>friends_searchresult.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,163},{51,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{51,14}</string>
            </dict>
            <key>friends_wizard.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,108},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>friends_wizard_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,76},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,76},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>myfriend_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,152},{51,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{51,14}</string>
            </dict>
            <key>myfriend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,110},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>nev_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,212},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_neirong.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,206},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,201},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_qingyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,195},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_shoujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,189},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_zhenying.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,172},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_zhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,184},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>sent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
            <key>sent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{74,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,34}}</string>
                <key>sourceSize</key>
                <string>{74,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friends.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60629569a0d81670cadabf0aa92ba7da$</string>
            <key>textureFileName</key>
            <string>friends.png</string>
        </dict>
    </dict>
</plist>
