<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,964},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1009},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1009},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1009},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1009},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,1009},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>世界喇叭.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,224},{320,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,26}}</string>
                <key>sourceSize</key>
                <string>{320,26}</string>
            </dict>
            <key>主页.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,866},{48,37}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,37}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>任务.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,962},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>信件.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,134},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,915},{48,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>加号按钮_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,990},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>加号按钮_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,990},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>卡牌角色列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,545},{320,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,89}}</string>
                <key>sourceSize</key>
                <string>{320,89}</string>
            </dict>
            <key>右箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1009},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,322},{45,38}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,72},{32,29}}</string>
                <key>offset</key>
                <string>{1,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,29}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>左箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,990},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>排行榜.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,37},{35,29}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,29}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>游戏主界面-底条.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,545},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>游戏主界面-底背景图.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>版头.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>物品.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,193},{28,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,30}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>玩家名称栏-仙.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,866},{123,37}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>玩家名称栏-佛.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,866},{123,37}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>玩家名称栏-妖.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,866},{123,37}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,37}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>神魔录.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{35,29}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,29}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>竞技.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,105},{29,29}}</string>
                <key>offset</key>
                <string>{0.5,-0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{29,29}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>聊天_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1007},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>聊天_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,990},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>英雄.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,866},{48,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,165},{28,28}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>门派.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,915},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:541c79b7c180c699437e1b9df7d4966e$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
