<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CardName</key>
		<string>孙悟空</string>
		<key>CardId</key>
		<string>1</string>
		<key>CardImage</key>
		<string>character_sunwukong.png</string>
		<key>HeadImage</key>
		<string>head_sunwukong.png</string>
		<key>Category</key>
		<string>1</string>
		<key>formation</key>
		<string>1</string>
		<key>Hp</key>
		<integer>990</integer>
		<key>Dp</key>
		<integer>23</integer>
		<key>Ap</key>
		<integer>34</integer>
		<key>Dd</key>
		<integer>20</integer>
		<key>Desc</key>
		<string>齐天大圣孙悟空，技能：72变，金箍棒，增加攻击80%，特效：腾云驾雾，拥有气血增加17%</string>
		<key>Level</key>
		<string>SSS</string>
	</dict>
	<dict>
		<key>CardName</key>
		<string>如来佛</string>
		<key>CardId</key>
		<string>2</string>
		<key>CardImage</key>
		<string>character_rulaifo.png</string>
		<key>HeadImage</key>
		<string>head_rulaifo.png</string>
		<key>Category</key>
		<string>1</string>
		<key>formation</key>
		<string>1</string>
		<key>Hp</key>
		<integer>293</integer>
		<key>Dp</key>
		<integer>23</integer>
		<key>Ap</key>
		<integer>89</integer>
		<key>Dd</key>
		<integer>35</integer>
		<key>Desc</key>
		<string>佛下弟子，拥有灵气，技能：解说禅理，增加攻击20%，特效：于小菩萨一起，出门游玩，拥有气血增加11%</string>
		<key>Level</key>
		<string>SS</string>
	</dict>
	<dict>
		<key>CardName</key>
		<string>二郎神</string>
		<key>CardId</key>
		<string>3</string>
		<key>CardImage</key>
		<string>character_erlangsheng.png</string>
		<key>HeadImage</key>
		<string>head_erlangsheng.png</string>
		<key>Category</key>
		<string>1</string>
		<key>formation</key>
		<string>1</string>
		<key>Hp</key>
		<integer>623</integer>
		<key>Dp</key>
		<integer>53</integer>
		<key>Ap</key>
		<integer>67</integer>
		<key>Dd</key>
		<integer>78</integer>
		<key>Desc</key>
		<string>拥有哮天犬，技能：无极二宫，增加攻击71%，特效：神兵天降，拥有气血增加12%</string>
		<key>Level</key>
		<string>SSSS</string>
	</dict>
</array>
</plist>
