<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SubTasks</key>
		<array>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>90</integer>
				<key>Coins</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨1</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>67</integer>
				<key>Coins</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨1</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>78</integer>
				<key>Coins</key>
				<integer>47</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨1</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>25</integer>
				<key>Coins</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨4</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>37</integer>
				<key>Coins</key>
				<integer>24</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨5</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>13</integer>
				<key>Coins</key>
				<integer>85</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨6</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>23</integer>
				<key>Coins</key>
				<integer>45</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨7</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>30</integer>
				<key>Coins</key>
				<integer>73</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨8</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>46</integer>
				<key>Coins</key>
				<integer>40</integer>
			</dict>
			<dict>
				<key>Title</key>
				<string>在河边放生一条小雨9</string>
				<key>Category</key>
				<string>1</string>
				<key>Experience</key>
				<integer>30</integer>
				<key>Coins</key>
				<integer>45</integer>
			</dict>
		</array>
		<key>TaskName</key>
		<string>大唐西行（1） 河边放生</string>
		<key>TaskId</key>
		<string>TS000001</string>
	</dict>
</array>
</plist>
