<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,280},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>arraycard_wen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,992},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>arraycard_wen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,830},{11,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,141}}</string>
                <key>sourceSize</key>
                <string>{11,141}</string>
            </dict>
            <key>arraycard_wen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,164},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>arraycard_wen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,980},{12,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,141}}</string>
                <key>sourceSize</key>
                <string>{12,141}</string>
            </dict>
            <key>arraycard_wen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,246},{82,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,59}}</string>
                <key>sourceSize</key>
                <string>{82,59}</string>
            </dict>
            <key>bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,750},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>bt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,730},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,715},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_done_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,680},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card__iconpromotion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,82},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,45},{96,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>card_add_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,30},{96,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>card_btn_absorption.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,645},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_absorption_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,645},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_chg_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,620},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_chg_hero_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,610},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,575},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_complete_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,545},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,540},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_preview_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,505},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,470},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_promotion_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,470},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,605},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_btn_start_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,980},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_embattle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{104,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,164}}</string>
                <key>sourceSize</key>
                <string>{104,164}</string>
            </dict>
            <key>card_embattle_dropup.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,15},{96,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>card_embattle_dropup_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{96,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>card_exp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1015},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>card_exp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,992},{5,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,8}}</string>
                <key>sourceSize</key>
                <string>{5,8}</string>
            </dict>
            <key>card_exp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1015},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,8}}</string>
                <key>sourceSize</key>
                <string>{9,8}</string>
            </dict>
            <key>card_experience.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1015},{301,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,8}}</string>
                <key>sourceSize</key>
                <string>{301,8}</string>
            </dict>
            <key>card_furnace.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,365},{310,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,305}}</string>
                <key>sourceSize</key>
                <string>{310,305}</string>
            </dict>
            <key>card_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,690},{320,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,332}}</string>
                <key>sourceSize</key>
                <string>{320,332}</string>
            </dict>
            <key>card_icon_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,210},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>card_icon_fusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,0},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_fusion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,388},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,306},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,224},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,142},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_soul_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,60},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{82,90}</string>
            </dict>
            <key>card_icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,140},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>card_icon_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,70},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>card_icon_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,0},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>card_l_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,582},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,605},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,545},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,522},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,485},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,462},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,425},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,402},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,365},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_l_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,305},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>card_promotion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{320,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,332}}</string>
                <key>sourceSize</key>
                <string>{320,332}</string>
            </dict>
            <key>card_red_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,994},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>card_s_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,695},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_s_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,320},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>card_soul_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{320,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,415}}</string>
                <key>sourceSize</key>
                <string>{320,415}</string>
            </dict>
            <key>card_title_choosehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,390},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,312},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_fightcapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,350},{67,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,20}}</string>
                <key>sourceSize</key>
                <string>{67,20}</string>
            </dict>
            <key>card_title_heroAttribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,234},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_heropalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,156},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_promotion_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,78},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>card_title_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,994},{98,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,28}}</string>
                <key>sourceSize</key>
                <string>{98,28}</string>
            </dict>
            <key>card_up_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,370},{320,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,63}}</string>
                <key>sourceSize</key>
                <string>{320,63}</string>
            </dict>
            <key>card_up_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,82},{320,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,86}}</string>
                <key>sourceSize</key>
                <string>{320,86}</string>
            </dict>
            <key>card_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,415}}</string>
                <key>sourceSize</key>
                <string>{320,415}</string>
            </dict>
            <key>card_upgrade_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,830},{150,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,205}}</string>
                <key>sourceSize</key>
                <string>{150,205}</string>
            </dict>
            <key>jingyandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,785},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>lod_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,971},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lod_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1006},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lod_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1004},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lod_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,999},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lod_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,997},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>lod_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,992},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7fa44f7c9bbb460687cab0d25b0627$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
