<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CancelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,389},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>add_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,598},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>add_in_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,579},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,238},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,196},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,356},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,361},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>bt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,289},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>bt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,217},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>card_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,354},{155,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,15}}</string>
                <key>sourceSize</key>
                <string>{155,15}</string>
            </dict>
            <key>discover_truth.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,624},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>discover_truth_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,616},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>downArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1009},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>forgot_pwd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>forgot_pwd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,966},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>formation_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,467},{149,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,29}}</string>
                <key>sourceSize</key>
                <string>{149,29}</string>
            </dict>
            <key>formation_foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,516},{39,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,86}}</string>
                <key>sourceSize</key>
                <string>{39,86}</string>
            </dict>
            <key>formation_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,777},{152,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>formation_frame_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,741},{152,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>formation_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,280},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,95},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>formation_shengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,433},{39,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,86}}</string>
                <key>sourceSize</key>
                <string>{39,86}</string>
            </dict>
            <key>formation_yaomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,428},{39,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,86}}</string>
                <key>sourceSize</key>
                <string>{39,86}</string>
            </dict>
            <key>fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,624},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>gou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,966},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>gou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,966},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,511},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,528},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,511},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,317},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>login_btn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,430},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,393},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,356},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_game_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,508},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,494},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>login_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,477},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>login_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,460},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>login_section.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{295,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,180}}</string>
                <key>sourceSize</key>
                <string>{295,180}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,334},{250,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,135}}</string>
                <key>sourceSize</key>
                <string>{250,135}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,653},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,542},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,505},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,468},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,431},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>prompt_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,217},{270,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,115}}</string>
                <key>sourceSize</key>
                <string>{270,115}</string>
            </dict>
            <key>qqs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,702},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>qqs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,781},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>register_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,245},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>rrs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,813},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>rrs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,685},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>san_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{1,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,55}}</string>
                <key>sourceSize</key>
                <string>{1,55}</string>
            </dict>
            <key>select_formation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>select_server_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,184},{290,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,170}}</string>
                <key>sourceSize</key>
                <string>{290,170}</string>
            </dict>
            <key>server_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,471},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>shuangxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>sign-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>sina_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,653},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>sina_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,653},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>task_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,391},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>task_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,322},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>task_eightyone.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,64},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>task_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,700},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>task_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,635},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>task_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,528},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>task_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,966},{67,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,41}}</string>
                <key>sourceSize</key>
                <string>{67,41}</string>
            </dict>
            <key>task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,160},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>tourist_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,173},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,545},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,467},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,334},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,37},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>yun_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{320,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,213}}</string>
                <key>sourceSize</key>
                <string>{320,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcebe3ecee057ebe3d9efcac69123fbe$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
