<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XP条1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1928},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>XP条2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2017},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>XP条3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2017},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>世界喇叭.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,448},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>主页.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1732},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{96,73}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>任务.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1924},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>体力条1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2017},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>体力条2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2017},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>体力条3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2017},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>信件.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,268},{59,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{59,56}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1830},{96,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>加号按钮_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1980},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>加号按钮_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,1980},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>卡牌角色列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1090},{640,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,177}}</string>
                <key>sourceSize</key>
                <string>{640,177}</string>
            </dict>
            <key>右箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,144},{63,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{63,58}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>左箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>排行榜.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,73},{69,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{69,58}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>游戏主界面-底条.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1090},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>游戏主界面-底背景图.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>版头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{640,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,188}}</string>
                <key>sourceSize</key>
                <string>{640,188}</string>
            </dict>
            <key>物品.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,386},{55,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{55,60}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>玩家名称栏-仙.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1732},{246,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,73}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>玩家名称栏-佛.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1732},{246,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,73}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>玩家名称栏-妖.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{246,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{246,73}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>神魔录.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{69,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,58}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>竞技.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,209},{57,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{57,58}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>聊天_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2013},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>聊天_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1980},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>英雄.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1732},{96,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,329},{55,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{55,56}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>门派.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1830},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df4419ec1fb0c42cc8cab5d12f29e09b$</string>
            <key>textureFileName</key>
            <string>main-hd.png</string>
        </dict>
    </dict>
</plist>
