<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1405},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>arraycard_wen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1983},{208,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,45}}</string>
                <key>sourceSize</key>
                <string>{208,45}</string>
            </dict>
            <key>arraycard_wen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1660},{22,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,282}}</string>
                <key>sourceSize</key>
                <string>{22,282}</string>
            </dict>
            <key>arraycard_wen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,328},{163,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,165}}</string>
                <key>sourceSize</key>
                <string>{163,165}</string>
            </dict>
            <key>arraycard_wen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1960},{23,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,282}}</string>
                <key>sourceSize</key>
                <string>{23,282}</string>
            </dict>
            <key>arraycard_wen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,491},{163,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,117}}</string>
                <key>sourceSize</key>
                <string>{163,117}</string>
            </dict>
            <key>bt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1234},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>bt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1220},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1208},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>btn_done_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1164},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card__iconpromotion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,164},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_add_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,87},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_add_bg_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,58},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_btn_absorption.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,910},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_absorption_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,910},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_chg_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,840},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_chg_hero_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,770},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,700},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_complete_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,630},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,560},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_preview_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,490},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,420},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_promotion_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,350},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,280},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_btn_start_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1960},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
            <key>card_embattle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{208,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,327}}</string>
                <key>sourceSize</key>
                <string>{208,327}</string>
            </dict>
            <key>card_embattle_dropup.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,29},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_embattle_dropup_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{192,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,29}}</string>
                <key>sourceSize</key>
                <string>{192,29}</string>
            </dict>
            <key>card_exp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2030},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_exp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1983},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>card_exp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2030},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>card_experience.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2030},{602,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,16}}</string>
                <key>sourceSize</key>
                <string>{602,16}</string>
            </dict>
            <key>card_furnace.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1418},{620,610}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,610}}</string>
                <key>sourceSize</key>
                <string>{620,610}</string>
            </dict>
            <key>card_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,640},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>card_icon_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,0},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1280},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_fusion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,0},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_fusion_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,772},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,608},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_promotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,444},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,280},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_soul_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,116},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{164,180}</string>
            </dict>
            <key>card_icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1278},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,140},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_icon_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,0},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>card_l_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,1100},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1088},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,1044},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,980},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,968},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,924},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,848},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1703,804},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,728},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_l_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,608},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>card_promotion_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,0},{640,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,664}}</string>
                <key>sourceSize</key>
                <string>{640,664}</string>
            </dict>
            <key>card_red_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1987},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>card_s_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1359},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1394},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,1359},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1420},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1418},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1373},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,1304},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1304},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1290},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_s_star9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1290},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>card_soul_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_title_choosehero.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,780},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_embattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,624},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_fightcapacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,804},{134,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,39}}</string>
                <key>sourceSize</key>
                <string>{134,39}</string>
            </dict>
            <key>card_title_heroAttribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,468},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_heropalace.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,312},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_promotion_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,156},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{156,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,44}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>card_title_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1987},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>card_up_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1280},{640,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,125}}</string>
                <key>sourceSize</key>
                <string>{640,125}</string>
            </dict>
            <key>card_up_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,164},{640,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,171}}</string>
                <key>sourceSize</key>
                <string>{640,171}</string>
            </dict>
            <key>card_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,830}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,830}}</string>
                <key>sourceSize</key>
                <string>{640,830}</string>
            </dict>
            <key>card_upgrade_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1660},{300,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,410}}</string>
                <key>sourceSize</key>
                <string>{300,410}</string>
            </dict>
            <key>jingyandan.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1280},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>lod_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1942},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2009},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2006},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1996},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1993},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>lod_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1983},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9a8ba8fc1642a7c07365d2cbf403ece$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
