<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>catalogue_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>catalogue_card_cycle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{200,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>catalogue_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>catalogue_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>catalogue_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,66},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>catalogue_row_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{310,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,5}}</string>
                <key>sourceSize</key>
                <string>{310,5}</string>
            </dict>
            <key>catalogue_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>catalogue_tab_bg_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>catalogue_tab_dairy.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,193},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>catalogue_tab_damon.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,169},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>catalogue_tab_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,145},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>catalogue_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catalogue.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb89e9d7f144123ad7199947b5205f5$</string>
            <key>textureFileName</key>
            <string>catalogue.png</string>
        </dict>
    </dict>
</plist>
