<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friends_addbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,84},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,20}</string>
            </dict>
            <key>friends_addfriend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,27},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>friends_cellhighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{293,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,39}}</string>
                <key>sourceSize</key>
                <string>{293,39}</string>
            </dict>
            <key>friends_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,86},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>friends_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,47},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>friends_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,4},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>friends_love.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,74},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>friends_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,47},{249,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,252}}</string>
                <key>sourceSize</key>
                <string>{249,252}</string>
            </dict>
            <key>friends_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,88},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,20}</string>
            </dict>
            <key>friends_search_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,125},{230,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,30}}</string>
                <key>sourceSize</key>
                <string>{230,30}</string>
            </dict>
            <key>friends_searchbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,50},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>friends_searchbtn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,30},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>friends_searchresult.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,64},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,20}</string>
            </dict>
            <key>myfriend_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,61},{55,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,20}}</string>
                <key>sourceSize</key>
                <string>{55,20}</string>
            </dict>
            <key>myfriend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,4},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>nev_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,30},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_nicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,42},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_qingyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,23},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>nev_zhenying.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,4},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friends.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c864fef8170aa9b27f498b31688a544$</string>
            <key>textureFileName</key>
            <string>friends.png</string>
        </dict>
    </dict>
</plist>
