<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,481},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,454},{40,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,23}}</string>
                <key>sourceSize</key>
                <string>{40,23}</string>
            </dict>
            <key>bt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,435},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,369},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,391},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>btn_reg.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,380},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>btn_tourist.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,306},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>card_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,210},{155,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,15}}</string>
                <key>sourceSize</key>
                <string>{155,15}</string>
            </dict>
            <key>forgot_pwd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,972},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>forgot_pwd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,972},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>formation_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,508},{152,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>formation_frame_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,477},{152,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{152,34}</string>
            </dict>
            <key>formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,4},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>gou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,972},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>gou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,972},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,232},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>login_btn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,438},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,401},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,399},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_game_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,362},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>login_section.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,4},{295,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,180}}</string>
                <key>sourceSize</key>
                <string>{295,180}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,221},{250,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,135}}</string>
                <key>sourceSize</key>
                <string>{250,135}</string>
            </dict>
            <key>qqs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,413},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>qqs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,357},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>register_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,158},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>rrs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,323},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>rrs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,289},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>san_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1016},{1,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,55}}</string>
                <key>sourceSize</key>
                <string>{1,55}</string>
            </dict>
            <key>select_formation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,488},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>select_server_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,188},{290,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,170}}</string>
                <key>sourceSize</key>
                <string>{290,170}</string>
            </dict>
            <key>server_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,360},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,35}</string>
            </dict>
            <key>sign-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>sina_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,255},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>sina_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,221},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>tourist_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,84},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,188},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>yun_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,4},{320,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,213}}</string>
                <key>sourceSize</key>
                <string>{320,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42733285b8d17a0f538d6c330e1955eb$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
