<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_Level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,325},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level10.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,113},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,749},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,537},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,325},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,113},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,734},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,522},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,734},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,310},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,917},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,44},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_rulaifo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,522},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,852},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>character_erlangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,98},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>character_rulaifo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,310},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>character_sunwukong.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>head_erlangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,787},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>head_rulaifo.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,722},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>head_sunwukong.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,657},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,415}}</string>
                <key>sourceSize</key>
                <string>{320,415}</string>
            </dict>
            <key>mail_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,657},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_btn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,987},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,81},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_checkbox_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,991},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_checkbox_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,81},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,946},{270,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,39}}</string>
                <key>sourceSize</key>
                <string>{270,39}</string>
            </dict>
            <key>mail_lblFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,946},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>mail_lblcontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,734},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lblreceiver.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,991},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lblsubject.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,991},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lbltitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,82},{44,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,13}}</string>
                <key>sourceSize</key>
                <string>{44,13}</string>
            </dict>
            <key>mail_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,751},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mail_mailbox_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,835},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>mail_tab_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,81},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_secret_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,954},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_sys_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,961},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_sys_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,961},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,44},{239,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,33}}</string>
                <key>sourceSize</key>
                <string>{239,33}</string>
            </dict>
            <key>mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,766},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>main_arrow_leftbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,145},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>main_arrow_rightbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1008},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>main_card_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{320,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,89}}</string>
                <key>sourceSize</key>
                <string>{320,89}</string>
            </dict>
            <key>main_chat_secrettalk_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,79},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>main_chat_txtbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,987},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>main_chatbtn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,657},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>main_chatbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,537},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>main_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,991},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>main_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>main_play_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,617},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_play_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,577},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_play_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,537},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_plus_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,165},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main_plus_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,145},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main_speak.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,987},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>main_talker_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,961},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>main_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{320,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,26}}</string>
                <key>sourceSize</key>
                <string>{320,26}</string>
            </dict>
            <key>menubar_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,593},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,537},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,984},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,984},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,42},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,904},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,657},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,646},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>toolbar_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,105},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,943},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,907},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,871},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,831},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,791},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_shengmolu.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,751},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,646},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,946},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,98},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48e85ef735877541bd369337d7a0c99c$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
