<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_Level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,818},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level10.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,608},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,453},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,608},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,453},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,643},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,243},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level7.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,243},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,643},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>Card_Level9.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,433},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>btn_approve_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,888},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_approve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,853},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,853},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,910},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_deny_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,875},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_deny_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,910},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_reply_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,875},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>btn_reply_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,867},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>card_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,353},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>character_erlangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>character_rulaifo.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,223},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>character_sunwukong.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{155,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,210}}</string>
                <key>sourceSize</key>
                <string>{155,210}</string>
            </dict>
            <key>head_erlangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,290},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>head_rulaifo.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,227},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>head_sunwukong.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,881},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>mail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{320,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,415}}</string>
                <key>sourceSize</key>
                <string>{320,415}</string>
            </dict>
            <key>mail_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,944},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_btn_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,416},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_btn_compose.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,123},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_btn_compose_clicked.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,608},{75,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,35}}</string>
                <key>sourceSize</key>
                <string>{75,35}</string>
            </dict>
            <key>mail_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,896},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_checkbox_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,198},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_checkbox_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,896},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>mail_compose_textbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,210},{239,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,33}}</string>
                <key>sourceSize</key>
                <string>{239,33}</string>
            </dict>
            <key>mail_compose_textviewbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{283,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,223}}</string>
                <key>sourceSize</key>
                <string>{283,223}</string>
            </dict>
            <key>mail_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,543},{270,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,40}}</string>
                <key>sourceSize</key>
                <string>{270,40}</string>
            </dict>
            <key>mail_lblFriend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,379},{24,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,13}}</string>
                <key>sourceSize</key>
                <string>{24,13}</string>
            </dict>
            <key>mail_lblcontent.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,506},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lblreceiver.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,973},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lblsubject.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,413},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_lbltitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,973},{44,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,13}}</string>
                <key>sourceSize</key>
                <string>{44,13}</string>
            </dict>
            <key>mail_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,942},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mail_mailbox_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,916},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>mail_page_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,462},{44,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,17}}</string>
                <key>sourceSize</key>
                <string>{44,17}</string>
            </dict>
            <key>mail_sender.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,413},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mail_state_approved.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,945},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>mail_state_denied.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,210},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>mail_state_read.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,198},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>mail_state_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,888},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>mail_tab_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,945},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_secret_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,935},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_sys_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,923},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_tab_sys_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,888},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>mail_textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,223},{239,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,33}}</string>
                <key>sourceSize</key>
                <string>{239,33}</string>
            </dict>
            <key>mail_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,853},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>mail_title_compose.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,853},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>mail_title_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,818},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>main_arrow_leftbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,232},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>main_arrow_rightbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,632},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,543},{320,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,40}}</string>
                <key>sourceSize</key>
                <string>{320,40}</string>
            </dict>
            <key>main_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,818},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>main_card_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,223},{320,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,89}}</string>
                <key>sourceSize</key>
                <string>{320,89}</string>
            </dict>
            <key>main_chat_secrettalk_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>main_chat_txtbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,0},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>main_chatbtn_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,818},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>main_chatbtn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,462},{16,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,107}}</string>
                <key>sourceSize</key>
                <string>{16,107}</string>
            </dict>
            <key>main_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,963},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>main_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,895},{320,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,94}}</string>
                <key>sourceSize</key>
                <string>{320,94}</string>
            </dict>
            <key>main_play_fo.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,986},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_play_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,863},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_play_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,0},{123,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,38}}</string>
                <key>sourceSize</key>
                <string>{123,38}</string>
            </dict>
            <key>main_plus_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,997},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main_plus_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,945},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>main_speak.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,569},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>main_talker_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,608},{71,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>main_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,989},{320,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,26}}</string>
                <key>sourceSize</key>
                <string>{320,26}</string>
            </dict>
            <key>menubar_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,967},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_formation.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,341},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,303},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,265},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,227},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>menubar_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,813},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1015},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,548},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,0},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>toolbar_combat.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,963},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,963},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,985},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,951},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,967},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,379},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>toolbar_shengmolu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,942},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,923},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1015},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,543},{5,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,9}}</string>
                <key>sourceSize</key>
                <string>{5,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:243fae77d3f04c89cf14ec33af2b626d$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
