<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,704},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,692},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,680},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,668},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,656},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,644},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>世界喇叭.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>主页.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,941},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>任务.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,941},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>信件.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1028},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,875},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>加号按钮_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,952},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>加号按钮_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,921},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>卡牌角色列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{640,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,177}}</string>
                <key>sourceSize</key>
                <string>{640,177}</string>
            </dict>
            <key>右箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,898},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,798},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1088},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>左箭头.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,875},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>排行榜.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1051},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>游戏主界面-底条.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{640,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,79}}</string>
                <key>sourceSize</key>
                <string>{640,79}</string>
            </dict>
            <key>游戏主界面-底背景图.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>版头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,188}}</string>
                <key>sourceSize</key>
                <string>{640,188}</string>
            </dict>
            <key>物品.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1022},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>玩家名称栏-仙.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,798},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>玩家名称栏-佛.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,721},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>玩家名称栏-妖.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{246,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,75}}</string>
                <key>sourceSize</key>
                <string>{246,75}</string>
            </dict>
            <key>神魔录.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,958},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>竞技.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,952},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>聊天_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,908},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>聊天_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,875},{31,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,214}}</string>
                <key>sourceSize</key>
                <string>{31,214}</string>
            </dict>
            <key>英雄.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,721},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1018},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>门派.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,644},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:736943cd732d5a2b8bd9ba32cdc91f4e$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
